#Title {
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

#cards {
    display: inline;
    text-align: text-center;
}

#Services {
    text-align: center;
    color: black;
}

#servsP {
    color: black;
}

.servs {
    padding: 15px;
    font-family: 'Archivo Black', sans-serif;
    color: blue;
}

#carousel {
    padding: 25px;
}

#ServPic1 {
    width: 100px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#ServPic2 {
    width: 100px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#ServPic3 {
    width: 100px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#ServPicTitles1 {
    text-align: right;
    font-family: 'Archivo Black', sans-serif;
}

#ServPicTitles2 {
    text-align: left;
    font-family: 'Archivo Black', sans-serif;
}

#ServPicTitles3 {
    text-align: right;
    font-family: 'Archivo Black', sans-serif;
}

#ServText1 {
    text-align: right;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    color: darkblue;
}

#ServText2 {
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    color: darkblue;
}

#ServText3 {
    text-align: right;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    color: darkblue;
}


#container1 {
    padding: 10px;
}

#container2 {
    padding: 10px;
}

#container3 {
    padding: 10px;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }



  /* TESTING PARALLAX */

  @import url(https://fonts.googleapis.com/css?family=Lato);
body {
	margin:0;
	font-family:"Lato", sans-serif;
}
.para-slide {
	width:100%;
	position:relative;
	text-align:center;
	height:70vh;
}
.para-slide h1 {
	margin:0;
	padding-top:5%;
	font-size:3.5em;
	color:white;
}
.para-slide h2 {
	margin:0;
	padding-top:5%;
	color:white;
	font-size:2.75em;
}
.para-slide h3 {
	color:white;
	margin-top:0;
}
.para-slide p {
	color:white;
	font-size:1.5em;
	margin:0;
	padding-top:3%;
	padding-bottom:3%;
	max-width:65%;
	margin:auto;
}

/* FOOTER SOCIAL MEDIA ICONS */

#SocMed {
    width: 50px;
    height: 50px;
    float: inline-end;
}


#CarsImg {
    
}

.FollowUs {
    background-color: lightcyan;
    padding: 11%;
    text-align: center;
}

#ServHdr {
    padding: 5%;
    background-color: #17a2b8;
}

.iconify {
    width: 50px;
    height: 50px;
}

#ServTitle {
    color: black;
}
