#cards {
    display: inline;
    text-align: text-center;
}

#Services {
    text-align: center;
}

.servs {
    background-color: aqua;
    padding: 15px;
}

#carousel {
    padding: 25px;
}

#ServPic1 {
    width: 100px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#ServPic2 {
    width: 100px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#ServPic3 {
    width: 100px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#ServPicTitles1 {
    text-align: right;
}

#ServPicTitles2 {
    text-align: left;
}

#ServPicTitles3 {
    text-align: right;
}

#ServText1 {
    text-align: right;
    word-wrap: break-word;
}

#ServText2 {
    word-wrap: break-word;
}

#ServText3 {
    text-align: right;
    word-wrap: break-word;
}


#container1 {
    padding: 10px;
}

#container2 {
    padding: 10px;
}

#container3 {
    padding: 10px;
}

.MoreServs {
    background-color: aqua;
    padding: 25px;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }